<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.9" targetFramework="net471" />
  <package id="AWSSDK.EC2" version="3.7.61.2" targetFramework="net471" />
  <package id="AWSSDK.S3" version="3.7.8.10" targetFramework="net471" />
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net471" />
  <package id="Google.Apis" version="1.56.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.56.0" targetFramework="net471" />
  <package id="Google.Apis.Compute.v1" version="1.56.0.2611" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.56.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
</packages>